@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Varela&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: fit-content;
    overflow-x: hidden;
}
body{
    font-family: Manrope;
    background: #fff;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 40px;
}
.logoinfo .logo img{
    height: 30px;
}
.logo{
    background: #00000017;
    padding: 2px 4px;
    border-radius: 10px;
}
.logoinfo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logoinfo .title{
    font-size: 1.3rem;
    font-weight: 700;
}
.gs button{
    outline: none;
    background: #00000000;
    font-family: Manrope;
    border: 2px solid #000;
    padding: 7px 13px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
}
.gs button:hover{
    background: #00000016;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
    padding: 40px 0;
}
.labeltxt{
    font-size: 0.7rem;
    font-weight: 500;
    padding: 6px 12px;
    width: fit-content;
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.064),rgba(0, 0, 0, 0.030));
    border-radius: 20px;
}
.bigtxt{
    margin: 30px 10px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.1;
    max-width: 700px;
}
.smltxt{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}
.mbtn{
    margin: 20px 0;

}.mbtn button{
    border: none;
    outline: none;
    font-family: Manrope;
    font-weight: 500;
    padding: 10px 15px;
    color: #fff;
    background: #000;
    border-radius: 40px;
    font-size: 0.8rem;
    box-shadow: 1px 10px 20px #00000040;
    scale: 1;
    transition: box-shadow,scale 200ms;
    cursor: pointer;
}
.mbtn button:hover{
    box-shadow: 1px 10px 20px #00000026;
    scale: 0.94;
}
.g{
    letter-spacing: -1.5px;
    display: inline-block;
    width: 100px;
}
.r::before{
    content: "O";
    position: relative;
    top: 0px;
    animation: sldin 600ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.s::before{
    content: "T";
    position: relative;
    top: 0px;
    animation: sldins 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.q::before{
    content: "P";
    position: relative;
    top: 0px;
    animation: sldinq 800ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.simg{

    background: transparent;
    margin: 60px 40px 60px 40px;
    position: relative;
}
.simg img{

    width:60vh;
    background: transparent;
    box-shadow: 0px 30px 70px #00000015;
    border-radius: 20px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.xdem{
    margin: 30px 0;
}



@keyframes sldin {
    0%{
        content: "✱";
        font-size: 1.5rem;
        top: 20px;
        opacity: 0;
        filter: blur(0px);
    }
    70%{
        content: "✱";
        top: -5px;
        opacity: 1;
        filter: blur(0px);
    }
    85%{
        content: "✱";
        font-size: 1.5rem;
        filter: blur(4px);
    }
}
@keyframes sldins {
    0%{
        content: "✱";
        top: 20px;
        font-size: 1.5rem;
        opacity: 0;
        filter: blur(0px);
    }
    80%{
        content: "✱";
        top: -5px;
        opacity: 1;
        font-size: 1.5rem;
        filter: blur(0px);
    }
    90%{
        content: '✱';
        filter: blur(4px);
    }
}
@keyframes sldinq {
    0%{
        content: "✱";
        top: 20px;
        opacity: 0;
        font-size: 1.5rem;
        filter: blur(0px);
    }
    90%{
        content: "✱";
        top: -5px;
        opacity: 1;
        font-size: 1.5rem;
        filter: blur(0px);
    }
    100%{
        content: "✱";
        filter: blur(4px);
    }
}

@media (max-width: 600px){

    .top{
        margin: 10px 20px;
    }
    .bigtxt{
        font-size: 2.4rem;
    }
    .g{
        width: 80px;
    }
    .simg img{
        width: 70vw;
    }
}
